*{
    font-family: Arial, Helvetica, sans-serif; /*idea- import a font */
}

header{

    background-color: rgb(37, 0, 34);

}

header nav {
    display: flex;
    justify-content: flex-end;

    color: whitesmoke;

}