/* Universal Selector */
:root{
  --darkpurple: #240324; 
  --lightcolor: whitesmoke;
  --goldish:  #65660c;
  --greyborder: #4F4846;
}

* {
    margin:0;
    padding:0;  
  }
  
  /* Element Selectors */
  body {
    
    position: relative;
    font-family: Arial, Helvetica, sans-serif
    font-size: 20px;
    background-color: #FDF8F5;
    color: var(--greyborder);
  }
  
  h1{
    margin: 17px;

  }
 
  header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
      height: 60px;
      width: 100%;
      line-height: 60px;
      background-color: var(--darkpurple);
      color: var(--lightcolor);
    
    
    
    border-bottom: 5px solid var(--goldish);
  }


  
  
  nav ul li {
    margin: 10px;
    padding: 15px;
    display: inline;
    
     
   

  }
  
  
  a {
    text-decoration: none;
    color: var(--lightcolor);
  }

  main {
      display: block;
     
    
  }

  
h2, h3 {
  margin: 15px;
  color:var(--darkpurple);
  
}
  
  
  

  footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: var(--darkpurple);
    color: var(--lightcolor);
  }
  
  
  
  footer {
    text-align: center;
    position: absolute;
    margin-top: 0;
    bottom: 0;
    border-bottom: 10px solid var(--greyborder);
    color: var(--lightcolor);
    ;    
  }
  
  figure {
     
    margin-bottom: 40px;
  }
  
  img {
    height: 250px;
    width: 250px;
    border-radius: 90px;
   
    
    
  }
  
  section {
    width: 100%;
    margin-bottom: 0;
    padding: 20px 10px 40px 10px;
    border-top: 3px solid var(--goldish);
    background-color:  #f7ecd6;
  }
  
  article{
    font-size: x-large;
  }
 
   
  /* Class Selectors */
  .picofme{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid var(--darkpurple);
    border-radius: 5px;
    background-color: #240324;
    
    
    

  }
  
  .intro-image{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 250px;
    background-size: cover;
    background-image:url("../images/pexels-lighthouse.jpg") ;
    

  }

  .intro-image figure{
    
    border: #000000;
    border-style: solid;
    background-color: var(--darkpurple);
    margin: 15px;
    padding: 5px;
    font-size: 30px;
    color: var(--lightcolor);
  }

  .main-section{
    display: flex;
    justify-content: flex-start;


  }
  .title-card {
    width: 18%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: solid var(--darkpurple);
    min-width: 275px;
    font-size: x-large;
    

    
  }

  .projects {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;


  }

  .project-cards{
    height: 300px;
    min-width: 30%;

    margin: 20px;
    padding: 15px;
    border: solid var(--darkpurple);
    border-radius: 20px;

    

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-grow: 1;
    flex-shrink: 2;

    background-size: cover;



  }

  .project-cards:hover{
    opacity: 75%;

  }

  .project-preview {
    height: 120px;
    width: 150px;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 25px;
    color: var(--darkpurple);

    background-color:rgb(62, 150, 190);
    border: 5px;
    border: solid;
    border-color: var(--darkpurple);
    border-radius: 20px;
  }

  #portfolioRWH{
    height: 400px;
    width: 100%;
    background-image: url("../images/pexels-electric.jpg");
  }

  #project2{
  background-image: url("../images/pexels-laptop.jpg");
  }

  #project3{
  background-image: url("../images/pexels-codegreen.jpg");
  }

  #project4{
  background-image: url("../images/pexels-hand.jpg");
  }
  #project5{
    background-image: url("assets\images\PortfCap.PNG");
  }
  
  
  #aboutme article{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 25px;
  }
  #portfolio nav{
    display: flex;
    align-content: flex-start;

  }

  

  #contact{
   height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: underline;
    color:black;
  }

  #contact h4{
    margin: 45px;
  }

  #contact ul li {
    margin: 15px;
    display: inline;
  }
  #contact a{
    color:var(--darkpurple);
  }

  @media screen and (max-width: 768px){
    header {
      position: absolute;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    #portfolio > div{
      justify-content: flex-start;

    }

    
  }
